*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /* para que no aparezca la barra inferior */
}
.body{
    background-color: #f5f5f5;
    width: 100%;
}


/* HEADER TOP */
.header-content{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(82,82,82,1);
    box-shadow: 0px 2px 5px 0px rgba(82,82,82,1);
    position: relative
}
.header-content-inf{
    display: flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: black;
}
.header-content-inf p{
    color: #ffffff;
}
.header-inf{
    width: 35vw;  
}
.header-contact{
    width: 35vw;
    display: flex;  
    flex-direction: row; 
    justify-content: flex-end;
}
.header-contact img{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
/* HEADER MENÚ */
.header-content-bar{
    width: 100%;
    background-color: #2471A3;
}
.header-bar{
    margin-left: 15vw;
    margin-right: 15vw;
    display: inline-flex;
}
.header-logo{
    margin-left: 5vw;
    margin-right: 5vw;
}
.header-menu{
    display: flex;
    margin-left: 8vw;
    margin-right: 8vw;
    list-style: none;
    font-size: 0;
}
.header-menu li{
    display: inline-block;
    position:relative;
}
.header-menu a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
.header-menu submenu{
    position: absolute;
    display: none;
}
.header-menu submenu li{
    display: block;
}
.header-menu li:hover submenu{
    display: block;
}
/* MAIN BODY >> image section */

.main-img{
    padding-bottom: 1vh;
}
/* >> items section */
.main-items{
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: #24A392;
    display: flex;
    justify-content: center;
}
.main-items p{
    color: #ffffff;
}
.main-container-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-img{
    display: flex;
    justify-content: center;
}

.item-txt{
    padding: 2vh 2vh 2vh 2vh;
}
/* >> languages section */
.main-options{
    display: flex;
    justify-content: center;
}
.main-container-options{
    width: 60vw;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
}
.op-txt{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}
.language{
    display: flex;
    justify-content: center;
    align-content: center;
}
.main-languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.language img{
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition: all 300ms;
}
.language img:hover{
    transform: scale(1.1);
}
/* >> information section */

.main-container-inf{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.inf-txt{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display-6{
    font-size: 1.8em;
}



/* FOOTER */
.footer{
    background-color: #24A392;
}


   
